.form-container {
  display: flex;
  justify-content: left;
  margin-left: 20px;
}

.form-container label {
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

.form-container input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.form-column {
  flex-direction: column;
}

.form-container input[type="submit"] {
  background-color: #3a3a3b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
}
