<div class="card-container">
  <div class="card">
    <div class="polls-container">
      <h2>Your Polls</h2>
      <ul class="polls-list">
        <% @polls.each do |poll| %>
          <li class="polls-list-item">
            <%= link_to poll.title, poll %>
          </li>
        <% end %>
      </ul>
      <%= link_to "Create a Poll", new_poll_path, class: "poll-form-link" %>
    </div>
  </div>
</div>